In [12]:
#List of high schools

high_schools= ["Hernandez High School","Figueroa High School",
              "Wilson High School","Wright High School"]
for i in high_schools:
    print(i)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [21]:
#A dictionary of high schools and they type of school.
high_school_types = [{"High School": "Griffin", "Type":"District",
                     "High School": "Figueroa", "Type":"District",
                     "High School": "Wilson", "Type":"Charter",
                     "High School": "Wright","Type":"Charter"}]


for key in high_school_types:
    print(key)
   # print(high_school_types[key])
    
    #print(high_school_types[item])

{'High School': 'Wright', 'Type': 'Charter'}

In [29]:
#list of high schools
high_schools = ["Huang High School","Figeuroa High School", "Shelton High School","Hernandez High School", "Griffin High School", "Wilson High School",
               "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", 
               "Rodriquez High School","Johnson High School", "Ford High School", "Thomas High School"]

#add the pandas as a dependency
import pandas as pd

# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figeuroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriquez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [30]:
for i in school_series:
    print(i)

Huang High School
Figeuroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriquez High School
Johnson High School
Ford High School
Thomas High School

In [33]:
# A dict of High schools
high_school_dicts = [{"School ID":0, "School_Name":"Huang High School","type":"District"},
                    {"School ID":1, "School_Name":"Figueroa High School","type": "District"},
                    {"School ID":2, "School_Name":"Shelton High School","type": "Charter"},
                    {"School ID":3, "School_Name":"Hernandez High School","type": "District"},
                    {"School ID":4, "School_Name":"Griffin High School","type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            School_Name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [36]:
#3 separate lists of info on high schools
school_id =[0,1,2,3,4]

school_name = ["Huang High School","Figueroa High School","Shelton High School","Hernandez High School",
              "Griffen High School"]
type_of_school = ["District", "District", "Charter", "District", "Charter"]

#intialize a new DataFrame
schools_df = pd.DataFrame()

#Add the list to a new DataFrame.
schools_df["School ID"] = school_id

schools_df["School Name"] = school_name

schools_df["Type"]= type_of_school

#Print the dataframe

print(schools_df)

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffen High School   Charter

In [40]:
school_df.columns
school_df.index
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)